.place__image {
    max-width: 460px;
    grid-area: image;
}

@media screen and (max-width: 1024px) {
    .place__image {
        max-width: 440px;
    }
}

@media screen and (max-width: 1023px) {
    .place__image {
        max-width: 96%;
    }
}

@media screen and (max-width: 640px) {
    .place__image {
        max-width: 100%;
        margin-bottom: 32px;
    }
}



