.footer__copyright {
  margin: 0;
  max-width: 186px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  color: #ffffff;
}


@media screen and (max-width: 767px) {
  .footer__copyright {
    line-height: 14px;
    margin-top: 48px;
  }
}
