.cover {
    background-image: url(../../images/cover-trains.jpg);
    max-width: 1184px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
    }    
}

@media screen and (max-width: 320px) {
    .cover {
        max-width: 320px;
    }
}