.place__link {
    max-width: 456px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    opacity: 1;
    transition: opacity 0.5s;
}

.place__link:hover {
    opacity: 0.8;
}