.intro__title {
    max-width: 690px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 50px;
    color: #FFFFFF;
    margin: 100px 0 43px;

}

@media screen and (max-width: 1024px) {
    .intro__title {
        margin: 92px 0 43px;
    }
    
}

@media screen and (max-width: 540px) {
    .intro__title {
        font-size: 40px;
    }
    
}

@media screen and (max-width: 320px) {
    .intro__title {
        max-width: 288px;
        margin: 64px auto 40px;
        font-size: 32px;
        line-height: 35px;
        white-space: normal;
    }
    
}